<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia de Steel Ball Run</title>
    <link rel="stylesheet" href="../css/style3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<!-- header -->
    <header>
        <h1>Historia de Steel Ball Run</h1>
    </header>
<!-- barra -->
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="../views/index.html">principal</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="../views/personajes.html">personajes</a>
              <a class="nav-link" href="../views/historia.html">Historia</a>
              <a class="nav-link" href="../views/registro.html">registrate</a>
            </div>
          </div>
        </div>
      </nav>   
     <!-- main y section -->
      <main>
        <section>
            <h2>introduccion:</h2>
            <article>
              <h3> Conferencia de prensa; Gyro Zeppeli; Johnny Joestar; 3 horas para comenzar:</h3>  
              <p>Para mantener la literatura inglesa,<a href="../views/personajes.html#sand" class="rr">Sandman</a> se ve obligado a huir de su tribu. Él supera misteriosamente a sus perseguidores a caballo y escapa gracias a un poder misterioso. Sandman se encuentra con su hermana cerca de un acantilado cuya pared está cubierta de misteriosos agujeros esféricos, donde parecía que alguien había estado entrenando "Alguna Técnica", y le muestra un titular de periódico sobre la inminente carrera de Steel Ball Run. </p>
              <p>Steven Steel, promotor, realiza una conferencia de prensa para presentar el Steel Ball Run: una carrera de caballos de varias etapas en todo Estados Unidos con un gran premio de $ 50,000,000. Varios concursantes vienen de todas partes del mundo: uno de los favoritos es el vaquero <a href="../views/personajes.html#mon" class="rr">Mountain Tim</a> , Dot Han el jinete de Mongolia y el jinete británico <a href="../views/personajes.html#di" class="rr">Diego Brando.</a> Sin embargo, incluso personas desconocidas como el emancipado <a href="../views/personajes.html#loco" class="rr">Pocoloco</a> y Sandman están llegando </p>
              <p> <a href="../views/personajes.html#gy" class="rr">Gyro Zeppeli</a> se presenta cuando registra su entrada. Él desafía a un ladrón en un duelo y lo hace dispararse arrojando una Bola de Acero en el hombro de su oponente. Interesado, un transeúnte en una silla de ruedas toca la bola de acero que aún gira en su funda, y se levanta momentáneamente. Ese hombre se llama <a href="../views/personajes.html#jojo" class="rr">Johnny Joestar</a>, un ex genio jockey que se volvió parapléjico después de una pelea mezquina, arruinando su vida. </p>
              <p> Sorprendido por el milagro de las bolas de acero, Johnny insiste en que el italiano le revela su secreto, pero Gyro se niega. Johnny compra un caballo de todos modos y entra en la carrera. A medida que la carrera se acerca a su comienzo, Gyro, impresionado de que Johnny se atreva a llegar a la línea de salida todavía arrastrado por su caballo, le da una pista sobre el spinning. Justo cuando comienza la carrera, Johnny logra montar su caballo.</p>
            </article>
        </section>
        <section>
            <h2>Primera Etapa</h2>
            <article>
                <h3> Primera etapa: 15,000 metros; El río seco: Diego Brando; Pocoloco y Sandman; Cruzando el bosque; Long, Long Downhill; 2,000 metros a la izquierda; 1,000 metros a la izquierda:
                </h3>
                <p>El Steel Ball Run comienza. Steven y un invitado especial abordan un tren para seguir la primera etapa. A medida que los corredores comienzan a moverse, Steel explica que la carrera está dividida en nueve etapas separadas por ciudades de puntos de control. </p>
                <p> Gyro rápidamente va por delante de los corredores y sorprendentemente vence a dos de los favoritos, Urmd Avdol y Diego, gracias al poder de sus Steel Balls. Mientras tanto, Pocoloco, a pesar de despertarse tarde, se las arregla para ponerse al día. Después de lograr cruzar un denso bosque a través de la suerte, Pocoloco desafía a los giroscopios mientras descienden por una cuerda. Contra toda precaución, Pocoloco acelera, confiado en su suerte y comenzando a ver su Stand ¡Hey Ya!. Gyro intenta detenerlo, pero solo logra poner en peligro levemente a Sandman cuando el indio aparece repentinamente descendiendo por un acantilado.</p>
                <p>Usando una técnica de ejecución única, Sandman se convierte en el favorito. Pero Gyro, Pocoloco, Johnny y Diego logran ponerse al día. La carrera ahora es una carrera loca en la que solo el poder del caballo cuenta. Utilizando su capa como vela para atrapar el viento de Santa Ana como viento trasero, Gyro se agarra inexorablemente y se apodera del primer lugar. </p>
            </article>
        </section>
        <section>
            <h2>intermedio:</h2>
            <article>
                <h3>Descalificado de la victoria; Solicitud del Sheriff a Mountain Tim:
                </h3>
                <p>La primera etapa terminó, Gyro de repente recibe una penalización debido a haber puesto en peligro la vida de Sandman al principio de la carrera. Él es relegado al 21 ° lugar. Después de exigir una mezquina venganza al arruinar la fiesta de Steven, Gyro acepta que Johnny lo siga y le enseña la primera lección del Spin: lo que importa es el Steel Ball's Spin. </p>
                <p> Mientras tanto, Steven y su esposa <a href="../views/personajes.html#lu" class="rr">Lucy</a> son llevados a la escena de un crimen, aparentemente causados ​​por codiciosos concursantes que asesinan a la competencia. El Sheriff local llama a <a href="../views/personajes.html#mon" class="rr">Mountain Tim</a> para ayudar. Una breve investigación lleva a Tim a sospechar que el asesino no es un hombre común e identifica sus herraduras.</p>
                <p>Comienza la segunda etapa del Steel Ball Run, esta vez, los corredores tienen que cruzar 1.200 km de desierto. <a href="../views/personajes.html#gy" class="rr">Gyro</a> se desvía del camino esperado, en lugar de elegir pasar por alto la primera de las fuentes de agua indicadas. <a href="../views/personajes.html#jojo" class="rr">Johnny</a> no tiene más remedio que seguirlo. El dúo es seguido por su compañero corredor, Mrs. Robinson. </p>
            </article>
        </section >
        <section>
        <h2>Cruzando el desierto de Arizona:</h2>
        <article>
           <p>En el medio del Desierto de Arizona, Gyro y Johnny son acosados ​​por la Sra. Robinson. De repente, Gyro y Johnny son atacados por chollas, cactus explosivos que pueden impulsar sus espinas a gran velocidad. Lentamente arrinconado por el ataque, Johnny es desmontado y Gyro confronta a Mrs. Robinson, derrotándolo rápidamente con las mismas chollas. </p>
           <p>Después de encontrar el caballo de Mrs. Robinson, Tim ve que él no es el asesino ya que las herraduras no coinciden. </p> 
        </article>
    </section>
    <section>
        <h2>El Desierto Nace Fuera de la Ley: </h2>
        <article>
           <p>Se revela la historia de Marco, quien era un humilde servidor atrapado cuando su señor fue arrestado y debe ser ejecutado por falsas acusaciones de traición. </p>
           <p>Por la noche, Johnny y Gyro acampan. Johnny logra reproducir la rotación con un corcho. Ellos se acercan a <a href="../views/personajes.html#an" class="rr">Andre Boom Boom</a>, quien afirma que ha sido mordido por un lagarto venenoso y necesita ayuda. Cuando Andre aparentemente muere, Gyro patea su cuchillo. Pronto se les unirán el <a href="../views/personajes.html#an" class="rr">padre y el hermano de andre,benjamin y L.A. </a>, y Gyro se dio cuenta de que su pierna estaba magnetizada por la Tumba del Boom. Después de una breve pelea, Gyro y Johnny huyen pero son rociados con la sangre de Andre. </p>
           <p>Benjamin se disfraza de Johnny Joestar, enfrentando a Mountain Tim que revela su Stand Oh! Lonesome Me. Benjamin planta exitosamente parte de su sangre en Tim y lo empuja a pensar que Johnny es el asesino. </p> 
        </article>
    </section>
    <section>
        <h2>La Palma del Diablo: </h2>
        <article>
           <p>Mountain Tim alcanza a Johnny y Gyro, y los tres se dan cuenta de que están afectados por el magnetismo. Tim presenta su poder que llama Stand, que adquirió al pisar Devil's Palm, un fenómeno conmovedor que otorga Stands a la gente. Benjamin Boom Boom usa su Stand para inmovilizarlos y matarlos. Pero Johnny luego despierta su propio Stand, Tusk, como estaban en la palma del diablo sin darse cuenta. Johnny mata a Benjamin e incapacita a L.A., quien revela que fueron contratados para matar a Gyro y quedo rápidamente en el desierto. </p>
           <p>Ante la insistencia de Johnny, Gyro revela su pasado. Es ciudadano de Nápoles, que aprendió el Spin de su padre y ha trabajado como verdugo.</p> 
        </article> 
    </section>
    <section>
        <h2>La Misión de Gyro Zeppeli: </h2>
        <article>
           <p>Gyro se opuso a la ejecución de Marco porque no estaba relacionado con el crimen, pero no podía hacer nada. Uno de los consejeros que conocía le propuso participar en la carrera de Steel Ball Run, ya que ganar podría darle a Napoles suficiente gloria para que el Rey proclamara una amnistía general, de lo contrario, el dinero del premio fue suficiente para pagar la apelación de Marco. Gyro acepta. </p> 
           <p> <a href="../views/personajes.html#oy" class="rr">Oyecomova</a> llega a un pueblo de relevos donde se supone que los corredores deben registrarse. Se entera de que Gyro, Johnny y Mountain Tim llegaron antes que él y entraron a la habitación. Mountain Tim confronta a Oyecomova pero está incapacitado por su poder explosivo de Stand Boku no Rhythm wo Kiitekure. Oyecomova revela entonces que él está detrás de la cabeza de Gyro.</p>
        </article>
    </section>
    <section>
        <h2>Interludio: </h2>
        <article>
           <p>Se revelan las circunstancias exactas que llevaron a <a href="../views/personajes.html#gy" class="rr">Gyro</a> a querer apelar a la ejecución de Marco. Después de que un prisionero se rebela y Gyro fue forzado a contenerla, Marco tomó su bolsa e intentó arreglarlo, ante la ira del otro verdugo pero Gyro se dio cuenta de que Marco no merecía su sentencia, lo que lo llevó a participar en la carrera de Steel Ball Run. </p> 
           <p>En el presente, Gyro y <a href="../views/personajes.html#jojo" class="rr">Johnny</a> recuperan el Zombie Horse y curan la lesión en la pierna de Gyro. </p>
        </article>
    </section>
    <section>
        <h2>Tusk:</h2>
        <article>
           <p>Un flashback presenta a José de Arimatea, un hombre que descendió de la cruz a <a href="../views/personajes.html#je" class="rr">Jesucristo.</a> José de Arimatea dibujó un mapa que representa una tierra desconocida y varios puntos de interés. </p> 
           <img src="../img/pertes del cuerpo.webp" alt="partes del cuerpo">
           <p>Johnny y Gyro son atacados por Fritz von Stroheim, quien es eliminado. Johnny, horrorizado por la frecuencia de los ataques ya que el premio del dinero no puede justificar estos, de repente se da cuenta de que su brazo izquierdo contiene un brazo momificado. </p>
           <p>Mientras tanto, Steven Steel discute con <a href="../views/personajes.html#fun" class="rr">Funny Valentine</a>, presidente de los Estados Unidos. El mapa de José de Arimatea en su posesión, Valentine codicia la reliquia conocida como el Cuerpo Santo. </p>
           <p>A punto de llegar a Monument Valley, el dúo es atacado nuevamente por Pork Pie Hat Kid, uno de los secuaces de Valentine. Captura a Gyro y aísla a Johnny al aire libre. Tusk parece ayudar a su usuario a escapar de los anzuelos una vez y luego le dice "Movere Crus", antes de desaparecer. Johnny se da cuenta del verdadero propósito de Steel Ball Run. </p>
        <p>Johnny logra arrastrarse cerca de Pork Pie Hat y dispara sus uñas giratorias a través de algunas plumas, hiriendo al enemigo. Sin embargo, Pork Pie Hat engancha a Johnny a través de Gyro, incapacitando a ambos. Johnny se ve obligado a darle a Pork Pie Hat el brazo izquierdo, pero este último se da cuenta demasiado tarde de que Gyro hizo que las uñas del brazo también giraran, matándolo para siempre. </p>
    <p> Johnny posteriormente desvía su atención en Cuerpo Santo y convence a Gyro para que lo ayude.</p>
        </article>
    </section>
    <section>
        <h2>Scary Monsters: </h2>
        <article>
            <p>Durante el último tramo de la segunda etapa entre los mejores pilotos, <a href="../views/personajes.html#jojo" class="rr">Johnny</a> descubre la ubicación de la siguiente parte de cadáver. <a href="../views/personajes.html#gy" class="rr">Gyro</a> se distrae con él, lo que lleva a <a href="../views/personajes.html#di" class="rr">Diego</a> a tomar el primer lugar, Johnny el segundo lugar, <a href="../views/personajes.html#sand" class="rr">Sandman</a> el 3er lugar y Gyro el 4to. Gyro está enojado, pero la carrera pasa inmediatamente a la tercera etapa: 517 km a través de las Montañas Rocosas. </p>
            <p> Mientras tanto, <a href="../views/personajes.html#lu" class="rr">Lucy Steel</a> descubre la trama de <a href="../views/personajes.html#fun" class="rr">Valentine</a> y ve el Corazón en su poder.</p>
            <p>Gyro y Johnny se encuentran con Diego que está actuando de manera extraña desde una caída anterior. Cuando cae la noche, se refugian en un pueblo. Pero pronto, Diego se transforma en Velociraptor y ataca a Gyro y Johnny. Su visión cinética le da una ventaja contra los ataques basados ​​en proyectiles de Gyro y Johnny, y solo pueden huir, solo para descubrir que toda la aldea también se ha transformado. </p>
            <p>Gyro se transforma en un dinosaurio y Diego les arrebata los Ojos. Johnny es el único humano que enfrenta al Dr. Ferdinand, quien explica que su Scary Monster controlaba cada dinosaurio hasta el momento. Inesperadamente, Johnny abandona su brazo izquierdo y se transforma parcialmente para lanzar uno de los ojos al giróscopo, que luego se cura y adquiere la nueva capacidad de exploración. Ambos logran incapacitar al Dr. Ferdinand, que es comido por pumas que transformó en aves rapaces. Sin embargo, Diego escapa con el Ojo Izquierdo y mantiene sus habilidades de dinosaurio. </p>
        </article>
    </section>
    <section>
        <h2>Tercera Fase: La Ciudad Cañón: </h2>
        <article>
            <p> Durante la carrera final, se presentan tres caminos, el último nadando a través de un lago, el camino más corto pero que agotará a los caballos. Gyro elige cruzarlo con Diego en su rastro.</p>
            <p>Después de haber conocido a Gyro por un tiempo determinado, declara que Gyro carece de un impulso adecuado para la carrera y que perderá aquí. Gyro enojado reprende a Johnny, pero a pesar de sus mejores esfuerzos, Diego se mantiene al frente. Sin embargo, otro corredor, <a href="../views/personajes.html#pe" class="rr">Hot Pants</a>, ya ha cruzado la línea. Derrotado, Gyro admite que le falta el impulso para ganar. </p>
        </article>
    </section>
    <section>
        <h2>Un Mundo De Hombres: </h2>
        <article>
            <p> A 650 km de Kansas City, Gyro y Johnny se encuentran con Hot Pants en un bosque. Brevemente pelean por una vaca supuestamente robada; Hot Pants revela su Cream Starter y Gyro logrando escanear la espalda de Hot Pants, viendo la columna vertebral del cadáver y el mundo "Turbo", y guiando a Gyro y Johnny para localizar la próxima parte del cadáver en Kansas City.</p>
            <p>Johnny desactiva la situación y los tres finalmente tienen una tregua para salir del bosque del cual no pueden encontrar la salida. Finalmente se encuentran con el pistolero <a href="../views/personajes.html#rin" class="rr">Ringo Roadagain</a> junto a una casa abandonada que mata a su compañero corredor Gaucho en un duelo y afirma que solo su muerte los liberará. El trío se enfrenta a Ringo, quien revela su Stand Mandom, que rebobina el tiempo en seis segundos cuando se pone el reloj de pulsera, confundiéndolos desde su entrada en el bosque. Se produce un tiroteo en el cual Johnny y Hot Pants aparentemente son asesinados, dejando solo a Gyro con vida. Ringo lleva a Johnny adentro y ahorra el italiano, pero Gyro se da cuenta de que la herida de Johnny no es fatal. </p>
            <p>Se revela la historia de Ringo Roadagain: una vez fue el enfermo más joven de una familia empobrecida. Una noche, su madre y su hermana fueron asesinadas por un bandido y se salvó disparando al bandido. Ringo luego se convirtió en un pistolero buscando desafíos para "purificarse" a sí mismo. Finalmente, Funny Valentine lo contrató para recuperar la parte del Cadáver de Johnny. </p>
            <p> Persiguiendo las últimas dudas dentro de él, Gyro vuelve a desafiar a Ringo y usa a Mandom para sacar provecho de él pasando por un primer bucle y luego lleva a Ringo a una astilla que cae del techo mientras empala al pistolero. Reconociendo su derrota y el crecimiento de Gyro, Ringo lo honra y es terminado por Gyro.</p>
        </article>
    </section>
    <section>
        <h2>La Tumba Verde: </h2>
        <article>
            <p>Después de su duelo, <a href="../views/personajes.html#gy" class="rr">Gyro</a> cura a <a href="../views/personajes.html#jojo" class="rr">Johnny</a> y <a href="../views/personajes.html#pe" class="rr">Hot Pants</a>Hot Pants. Johnny descubre que Ringo ha enviado un mensaje a <a href="../views/personajes.html#fun" class="rr">Valentine</a> y también que Hot Pants es una mujer, que elige mantenerlo en secreto. Cerca de Kansas City, el dúo se cruza con <a href="../views/personajes.html#loco" class="rr">Pocoloco</a> y <a href="../views/personajes.html#sand" class="rr">Sandman.</a> Intercambian información, lo que hace que Johnny se dé cuenta de que <a href="../views/personajes.html#di" class="rr">Diego</a> ha encontrado la ubicación de la siguiente Parte del cadáver.</p>
        <p>Mientras tanto, al ser testigo de la llegada de la paloma de Ringo al techo, <a href="../views/personajes.html#lu" class="rr">Lucy</a> se infiltra en un edificio gubernamental y se roba el mensaje que porta. Casi sorprendido por Valentine y su secuaz <a href="../views/personajes.html#bl" class="rr">Blackmore</a>, Lucy trata de esconderse, pero no tiene más remedio que llamar a Mountain Tim en busca de ayuda y ambos escapan de incógnito. Lucy luego va a recuperar la columna vertebral en un punto de referencia local conocido como la Tumba Verde. </p>
        <p>Blackmore sigue la llamada a <a href="../views/personajes.html#mon" class="rr">Tim</a>, con su capacidad de controlar las gotas de lluvia que lo rodean: Catch the Rainbow. Luego descubre que Lucy probablemente fue la culpable, y se apresura hacia su ubicación mientras descubre la columna vertebral.  Mientras Diego, Johnny y Gyro viajan hacia la Tumba Verde, Lucy es descubierta por Blackmore. </p>
        </article>
    </section>
    <section>
        <h2>Catch The Rainbow: </h2>
        <article>
            <p>Blackmore toma la columna vertebral de Lucy. Distraído por una visión de Jesucristo, le disparó Lucy, quien escapa con la Parte del cadáver. Exaltado por los milagros a su alrededor, Blackmore sella sus heridas fatales con gotas de lluvia y persigue a Lucy. </p>
            <p>Mientras tanto, Gyro y Johnny no pueden adelantarse a Diego. En la tempestad, luchan por encontrar el camino óptimo mientras que los sentidos mejorados de Diego lo ayudan. No obstante, el crecimiento de Gyro se expresa cuando se las arregla para alcanzar a Diego. Después de una breve pelea, Silver Bullet se lastima la pierna y saca a Diego de la carrera. </p>
            <p>El dúo se encuentra con Lucy y Blackmore casi al mismo tiempo y se produce una pelea. Catch the Rainbow inmoviliza a Johnny y Gyro, pero este último logra lanzar una bola de acero sobre Blackmore al evaporar algunas gotas de lluvia. Blackmore muere por sus heridas, y la columna vertebral entra en el cuerpo de Johnny a medida que el clima se calma, y ​​la siguiente ubicación de la parte cadáver se revela al dúo. </p>
        </article>
    </section>
    <section>
        <h2> Camino Silencioso:</h2>
        <article>
            <p> <a href="../views/personajes.html#jojo" class="rr">Johnny</a> y <a href="../views/personajes.html#gy" class="rr">Gyro</a> llegan a la línea de meta en Kansas City. El ganador de la 4ª etapa es Norisuke Higashikata, un piloto japonés.</p>
            <p>Anteriormente, Johnny, Gyro y <a href="../views/personajes.html#lu" class="rr">Lucy</a>vieron la siguiente ubicación de las tres partes del Cadaver. Estas son las orejas, el brazo derecho y las piernas. Decidieron enviar a Lucy a robar el Corazón del <a href="../views/personajes.html#fun" class="rr">Presidente</a>, Gyro abandonando su Ojo Derecho para permitir esto. </p>
            <p>En el presente, Diego se encuentra con el secuaz de Valentine. Después de que Diego revela que él sabe sobre el traidor dentro del séquito de Valentine, y cómo encontrarlo, Valentine coopera a regañadientes con <a href="../views/personajes.html#di" class="rr">Diego.</a> </p>
            <p>Cerca del Mississippi, Gyro y Johnny son atacados por una combinación de los dinosaurios de Diego y un poder extraño que produce efectos como cortar o quemar a quien tocó un objeto afectado. El dúo tiene que huir hacia el río. Johnny recuerda su juventud, sobre todo cómo se culpa a sí mismo por la muerte de su hermano Nicholas debido a un ratón extraviado, y cómo su padre nunca amó tanto a Johnny como a Nicholas. Teniendo en cuenta que el universo lo está haciendo pagar por su presunto asesinato involuntario, Johnny pierde la esperanza ya que su Stand resulta ineficaz. </p>
            <p>Un enojado Gyro le recuerda que Johnny no está cerca de dominar el Spin e introduce el Rectángulo Dorado, una proporción omnipresente que se usa para formar una rotación perfecta e infinita. Sin embargo, Gyro se niega a decir más. <a href="../views/personajes.html#sand" class="rr">Sandman</a> se revela como el enemigo e inexorablemente acorrala al dúo, incluso cortando las piernas de Gyro. Al borde de la desesperación, Johnny se da cuenta de que el Rectángulo Dorado está presente en el entorno y actualiza Tusk a ACT2. Incluso se produce un tiroteo, pero Johnny sorprende a Sandman con una bala hecha con el cinturón de Gyro y mata al indio.  </p>
            <p>De repente, <a href="../views/personajes.html#pe" class="rr">Hot Pants</a> aparece y lo deja inconsciente. Ella roba todas las partes del cadáver excepto una fracción de la columna vertebral. </p>
        </article>
    </section>
    <section>
        <h2> Tubular Bells:</h2>
        <article>
            <p>Cerca del lago Michigan, Diego se reúne con Mike O., jefe del personal de seguridad de Valentine. Diego revela que el traidor probablemente sea una mujer, lo que provoca el interrogatorio de todas las mujeres relacionadas con la carrera de Steel Ball Run. </p>
            <p>Lucy ve que la búsqueda se está acercando a ella, y toma la iniciativa acercándose a la Primera Dama Scarlet Valentine. Con somníferos dados por Hot Pants, Lucy se las arregla para acercarse a Valentine mientras él está dormido, pero el atraco sale mal cuando Scarlet descubre a Lucy. </p>
            <p>Hot Pants viene al rescate, pero Lucy es descubierta por Mike O. y se produce una pelea entre los dos usuarios de Stand. Mike O. está infectado por Cream Starter y finalmente, su garganta explota. Lucy se ve obligada a disfrazarse de Scarlet mientras Hot Pants parte con las orejas y el corazón, dejando el brazo derecho que era demasiado grande para su escape. </p>
        </article>
    </section>
    <section>
        <h2>Wrecking Ball: </h2>
        <article>
            <p>Se explora el pasado de <a href="../views/personajes.html#pi" class="rr">Wekapipo:</a> una vez miembro de la guardia real de Nápoles, Wekapipo rompió el matrimonio de su hermana con la premisa de que la golpearon a ciegas. Furioso, el marido lo forzó al exilio; Habiendo escuchado sobre la muerte de su hermana, Wekapipo ingresa al servicio de Valentine. </p>
            <p>Johnny y Gyro intentan cruzar el estrecho helado, un lobo los sigue por razones desconocidas. En el medio del estrecho, son atacados por Wekapipo y <a href="../views/personajes.html#ma" class="rr">Magent Magent</a>, cuyos Wrecking Ball y 20th Century Boy pueden hacer que su víctima no perciba nada a su izquierda y haga que Magent sea invencible arrodillándose respectivamente. Wekapipo aísla al dúo del Rectángulo Dorado y logra descubrir las Piernas del lobo. </p>
            <p> Usando una de las balas de pistola de Magent, Gyro puede sacarlo de la pelea. Pero el Spin del dúo es inferior al de Wekapipo, dándole ventaja. Johnny eventualmente se queda sin uñas, y Gyro debe enfrentar a Wekapipo con una Bola de Acero y sin un Rectángulo Dorado. En el último momento, los copos de nieve aparecen ante Gyro y él es capaz de reproducir el Golden Spin, ganando el duelo. Gyro explica que su clínica ha estado cuidando a la hermana de Wekapipo, y solicita su ayuda para encontrar a Lucy.</p>
            <p>La primera parte del capítulo describe la rutina diaria de Johnny y Gyro en el Steel Ball Run. Pasa a la última etapa de la sexta etapa, en la que Johnny y Gyro compiten contra <a href="../views/personajes.html#loco" class="rr">Pocoloco.</a> ¡Hey, Ya! lo guía fuera del camino de una grieta, pero Gyro y Johnny cooperan para cruzarlo directamente con una cuerda improvisada de acero hecha de una pelota, efectivamente superando la suerte de Pocoloco. Gyro termina en el primer lugar y Johnny en el segundo lugar.  Mientras tanto, Magent Magent vuelve a la civilización. </p>
        </article>
    </section>
    <section>
        <h2>Guerra Civil/ Civil War:</h2>
        <article>
            <p> Un flashback detalla el descubrimiento del cuerpo de <a href="../views/personajes.html#lu" class="rr">"Lucy Steel"</a>  del río Fox. Un angustiado Steven Steel está convencido de que la mujer que tiene delante no es Lucy.</p>
          <p> 145 km al oeste de Filadelfia,<a href="../views/personajes.html#" class="rr">Gyro</a>  y <a href="../views/personajes.html#jojo" class="rr">Johnny</a> son atraídos por <a href="../views/personajes.html#pe" class="rr">Hot Pants</a> a un basurero local dentro de un edificio. Gyro y Johnny son atacados simultáneamente por varios objetos que han dejado atrás durante toda su vida, que se fusionan con ellos y los cubren a ambos con una membrana. Hot Pants está completamente cubierto en la membrana y desaparece.</p>
          <p>Un flashback expone el pasado de Hot Pants, ella es una monja que codicia el cadáver para absolver a sí misma de haber abandonado a su hermano a un oso. </p>
          <p>Se advierte a Johnny que se purifique con agua para disolver la membrana y logra escapar. De repente, Johnny presencia a <a href="../views/personajes.html#je" class="rr">jesus</a> diciendo "no disparar si tiene dudas, entonces se le abrirá un nuevo camino". Johnny desconcertado se da cuenta de que sus piernas se contraen y regresa al basurero. </p>
          <p><a href="../views/personajes.html#a" class="rr">Axl RO</a>, un agente de <a href="../views/personajes.html#fun" class="rr">Valentine,</a> usa su Stand Civil War para materializar objetos de culpa, incluidos los fantasmas de las personas. Johnny está a punto de ser abrumado por los fantasmas de su padre y hermano cuando Gyro le advierte de la ubicación de Axl RO gracias a una bola de acero, y Johnny se las arregla para matar fatalmente a Axl RO. Sin embargo, Axl RO resucita debido a la última propiedad de Civil War; su pecado de dejar que toda la ciudad y la guarnición perezca porque él falló en su reloj es transferido a Johnny. Desmembrado por las apariciones de soldados, Johnny se da cuenta de que tiene que pegarse un tiro y desbloquea a Tusk ACTO 3. </p>
        </article>
    </section>
    <section>
        <h2> Un sueño de Gettysburg:</h2>
        <article>
            <p>Combinando la propiedad de penetración de sus uñas y el Spin, Tusk ACTO 3 crea un espacio dentro del agujero por el cual Johnny puede atravesar. Axl RO ha reconstituido el Cadáver Santo excepto la Cabeza y los ojos, pero gracias a ACTO 3, Johnny agarra el cadáver desde lejos y obliga a su enemigo a apuñalarlo en la garganta. Johnny es absuelto de sus pecados. </p>
            <p> De repente, Axl RO recibe un disparo en el pecho, y Funny Valentine se revela. El presidente se apodera de casi todas las partes del cadáver y se va antes de que Johnny pueda atacar.</p>
        </article>
    </section>
    <section>
        <h2>Ahora, Ambos Lados: </h2>
        <article>
            <p>Gyro y Johnny entran a Filadelfia. Al ver que Diego Brando está en el 1er lugar, deciden enfrentarlo y robarle el Ojo Izquierdo. </p>
            <p>Steven Steel rumia en su entrenador. Comparando fotos recientes de Scarlet y Lucy, él descubre que de alguna manera ella se disfrazó de Scarlet Valentine. Sin embargo, Magent Magent aparece y le dispara a Steven porque ya no es útil para Valentine. Poco después, Wekapipo interviene para proteger a Steven y se produce una pelea con los dos en el techo del carruaje, cabalgando por la ciudad. </p>
            <p> Un flashback detalla el pasado de Lucy Pendleton. Su padre era un granjero que se endeudó con la mafia. Steven engañó a la mafia, que quería a Lucy como prostituta, diciéndoles que tomó su virginidad y se casó con Lucy para engañarlos. Agradecido, Lucy se hizo leal a Steven.</p>
            <p> En el Salón de la Independencia, Valentine hace un largo discurso de motivación a su "esposa", que ha dejado que el ojo derecho se deslice por el suelo y ha tratado de distraer al presidente. Despertado, Valentine trata de violar a la imitadora de su esposa, pero cuando Lucy se revela, Valentine se queda atónito y es apuñalado en la garganta. Agonizante, Valentine desaparece repentinamente cuando una silla cae sobre él y misteriosamente reaparece ileso.</p>
        </article>
    </section>
    <section>
        <h2>Dirty Deeds Done Dirt Cheap: </h2>
        <article>
            <p>Lucy intenta esconderse de Valentine en la habitación contigua y accidentalmente encuentra el Cadáver, que se fusiona con ella. Cuando Valentine irrumpe en la habitación, se da cuenta de que Lucy es la anfitriona de la Cabeza del Cuerpo Santo. </p>
            <p> Mientras tanto, la lucha de Wekapipo y Magent continúa. Cuando Magent Magent intenta soltarse a sí mismo, ambos son arrojados al Río Delaware. Magent está atado por cables imbuidos de Spin y se hunde en el fondo del río. Wekapipo, después de haber visto a un dinosaurio salir de la ropa de Magent, se da cuenta de que Diego pudo saber sobre la identidad de Lucy.</p>
        </article>
    </section>
    <section>
        <h2>Chocolate Disco: </h2>
        <article>
            <p>Cerca de la Sala de la Independencia, <a href="../views/personajes.html#jojo" class="rr">Johnny</a> y <a href="../views/personajes.html#gy" class="rr">Gyro</a>divisan a <a href="../views/personajes.html#di" class="rr">Diego</a> y <a href="../views/personajes.html#pi" class="rr">Wekapipo.</a> Mientras Gyro intenta colarse a Diego, Johnny ve que Gyro está rodeado tanto por <a href="../views/personajes.html#fun" class="rr">Valentine</a> como por su secuaz D-I-S-C-O. Johnny intenta advertir a Gyro, pero de repente, es disparado por un desconocido y apenas escapa en las alcantarillas con Tusk ACTO 3. Gyro nota la ausencia de Johnny e intenta ir a ayudarlo. D-I-S-C-O se enfrenta a Gyro y su poder Disco de chocolate, que le permite teletransportar cualquier objeto dentro de una cuadrícula en el suelo, poniendo a Gyro en desventaja. </p>
            <p>Usando diferentes capas de aire como lente, Gyro logra evadir el ataque de D-I-S-C-O y se deshace de él. Gyro no tiene idea de lo que sucedió, y los testigos señalan alternativamente a Diego, Wekapipo o Valentine como el culpable. </p>
            <p>Un flashback detalla la vida de Jesucristo después de su crucifixión, resucitó bajo el cuidado de José de Arimatea, dibujó el mapa para José y luego viajó al este hasta que murió en América, sus reliquias se esparcieron por todo el continente. </p>
            <p>Una serie de flashbacks revelan que el Stand de Valentine, Dirty Deeds Done Dirt Cheap o D4C, pueden hacer que universos paralelos coexistan en el mismo plano, explicando la confusión de todos en los últimos minutos. Diego y Wekapipo deciden cooperar justo cuando Valentine ataca a Diego desde arriba. Como D4C también puede hacer que las personas viajen a universos alternos si se colocan entre dos objetos, el Presidente arrastra a Diego a través de una bandera, y Diego se encuentra ahora en una calle de un universo paralelo, enfrentándose a sí mismo y a otro Wekapipo. Diego está inmovilizado y Valentine le roba el Ojo Izquierdo y ambos cuerpos de Diego comienzan a desintegrarse en las esponjas de Menge. </p>
            <p>Antes de desintegrarse, Diego atrae a Wekapipo cerca de la bandera que todavía funciona como un portal entre universos, cuando arrastra a uno en el universo del otro. Cuando ambos se desintegran, Diego se escapa en el universo que alberga el Santo Cadáver. Teorizando que su universo es el único con la reliquia, de lo contrario, Valentine lo habría buscado en otros universos, Diego persigue con confianza a Valentine. </p>
        </article>
    </section>
    <section>
        <h2>Ticket To Ride: </h2>
        <article>
            <p>En el Salón de la Independencia, una voz misteriosa se pone en contacto con <a href="../views/personajes.html#lu" class="rr">Lucy</a>, que está muy embarazada, y la obliga a escapar. Debido a una serie de coincidencias, todos sus guardias están incapacitados o asesinados, lo que permite a Lucy escapar con un Steven herido. </p>
            <p>Mientras tanto, Gyro le pide a Johnny que abandone la persecución de Cuerpo Santo, teniendo en cuenta que han perdido. Sin embargo, Johnny se pone de pie brevemente, mostrando la evolución de sus piernas, y reafirma su voluntad de hacerse con el cadáver. Gyro acepta ayudarlo y le revela el último nivel del Spin, que solo puede ser utilizado por los jinetes más hábiles, aprovechando un poder que puede vencer a Valentine. Incapaces de localizar las partes del cadáver, deciden perseguir el rastro de Lucy. </p>
            <p>Lucy fue guiada hasta el río por la voz que escucha, pero la voz era de Valentine, que los atraía a su barco. </p>
    </section>
    <section>
        <h2> D4C:</h2>
        <article>
            <p>Lucy se ve obligada a embarcarse con su esposo. Ella y Valentine deben ir a la última marca "X" en el mapa de José de Arimatea. Sin embargo, se las arregla para rasgar una parte de su ropa y termina en el muelle. Diego y Hot Pants coinciden por casualidad y acuerdan cooperar. Luego encuentran la tela de Lucy y siguen su rastro, ellos mismos seguidos por Johnny y Gyro. Diego y Hot Pants llegan a un patio de trenes en el que un tren que parte protege a Lucy, Steven y Valentine. </p>
            <p>Diego y Hot Pants persiguen y aunque Valentine arroja versiones alternativas de los dos para frenarlos, Diego usa el poder de D4C para su ventaja y golpea a ambos entre una puerta y una pared, enviándolos de regreso. Una dura pelea se produce cuando Diego y Hot Pants intentan matar a Valentine varias veces antes de poder viajar a un universo alternativo y cambiarse a sí mismo, culminando con que ambos sean arrojados del tren. Valentine sobrevivió por poco mientras Diego es cortado por la mitad por las ruedas del tren . </p>
            <p> Mientras tanto, Gyro y Johnny observan que las extrañas distorsiones espaciales siguen sucediendo a su alrededor. En el tren, Hot Pants contempla una metamorfosis de Lucy Steel, que se está convirtiendo en el Cadáver. Las mismas distorsiones espaciales hacen que Hot Pants se fusione con objetos diversos que convergen hacia su corazón y la matan. Valentine concluye que todo se ve atraído hacia Lucy y luego declara al Cadáver como su aliado, que manifiesta una nueva habilidad.</p>
        </article>
    </section>
    <section>
        <h2> D4C - LOVE TRAIN -:</h2>
        <article>
            <p> Valentine descubre la verdadera naturaleza de este poder: hay un espacio en el espacio en el que solo Valentine puede entrar y manipular.</p>
            <p> Gyro y Johnny alcanzan la locomotora, pero Valentine tiene medio encarcelado al conductor dentro de un espejo, por lo que es imposible detener el tren.</p>
            <p>Se produce un tiroteo entre Johnny y Valentine. Sin embargo, Valentine es invencible ya que el "daño" en sí mismo está siendo redirigido a lugares aleatorios en el mundo. Gyro lanza una bola de acero, aparentemente sin efecto. El dúo solo puede detener la carreta de San Valentín y retirarse temporalmente. </p>
            <img src="../img/lov.jpg" alt="love train">
            <p>Es entonces cuando Gyro expone un poco de cabello unido a la Bola que ha lanzado. Si aprovechan la energía de rotación de sus caballos cuando corren según la escala dorada, Gyro y Johnny llegarán a Valentine. Ambos cargan el carro. El presidente se esconde en la brecha entre el espacio y persigue a Johnny, que trata de reproducir la escala dorada. En el momento crucial, su cabeza se estrella en las ramas cercanas. </p>
            <p>Johnny cae y es retenido por D4C, lo que obliga a Gyro a desperdiciar una bola de acero para distraer a Valentine. Afortunadamente, Steven Steel transporta a Lucy fuera del carro y la confía a Gyro. Valentine se ve obligada a perseguir a Lucy y Gyro, que se dirige hacia el Océano Atlántico. Mientras tanto, Johnny logra transferir la herida con sus agujeros de Spin lejos de su corazón. Él toma y ve la oreja de Valentine pegada en la Bola de Acero, y se da cuenta de que Valentine no se dio cuenta de su herida. </p>
            <p>Cerca del Océano Atlántico, una ráfaga de viento hace que Valentine se dé cuenta de que le falta la oreja, y mientras Gyro se precipita hacia él, el Presidente finalmente comprende el peligro del Spin. Él cambia su estrategia y decide apuntar a su caballo. </p>
        </article>
    </section>
    <section>
        <h2>Ball Breaker: </h2>
        <article>
            <p>Valentine desaparece en el fondo del océano, mientras que Gyro aprovecha el Super Spin con Valkyrie. A pesar de varios señuelos, Gyro logra encontrar el objetivo real, obligado a estar al lado de D4C. Es golpeado por la bola de acero imbuida con el Super Spin. La bola golpea la pared dimensional, y el nuevo soporte Ball Breaker de Gyro pasa a través de la pared con la energía de giro. Ball Breaker induce la senescencia en las células de Valentine, mientras que Gyro recibe un disparo en el estómago. Inesperadamente, Valentines sobrevive. </p>
            <p>Sin opciones, Gyro le pasa a Johnny un discurso misterioso, su lección n ° 5: "La ruta más corta fue un desvío. Fue un desvío que fue nuestro camino más corto". </p>
            <p>Valentine luego explica que una parte infinitesimal de la bola de acero de Gyro fue raspada por la pared dimensional, y la tirada se volvió imperfecta, salvándolo. Gyro muere; Valentine vacía las balas en su revólver sobre su cadáver y luego ataca a Johnny. Este último desperdicia casi todas sus uñas y Valentine corta la garganta de Slow Dancer, descolgando a su jinete. Valentine se acerca a Johnny, pero de repente entiende la indirecta de Gyro. Utilizando la bola de acero en la pierna de Slow Dancer, Johnny se hace patear en el aire en un movimiento de pierna de escala de oro y está imbuido con el Super Spin. Tusk ACTO 4 aparece. </p>
            <img src="../img/act4.jpg" alt="act 4">
            <p>Tusk ACTO 4 se abre camino en la brecha dimensional y luego golpea D4C con fuerza suficiente para formar un cráter en el suelo en el cual Valentine escapa. El Presidente pronto descubre que el Super Spin lo está siguiendo, sin importar a qué dimensión huya y se desespera. </p>
            <p>Un flashback detalla la reunión de un joven Funny con su futuro suegro, el Capitán Valentine. El soldado narra la historia del padre de Funny y elogió el patriotismo del padre, una lección que Funny grabó. Valentine se recompone a sí mismo. </p>
            <p> En el mundo de base, Johnny le han vuelto a crecer las cinco uñas. Valentine reaparece pero admite su pérdida y le propone a Johnny que traiga a Gyro Zeppeli.</p>
        </article>
    </section>
    <section>
        <h2>Rompe Mi Corazón, Romperé El Tuyo: </h2>
        <article>
            <p>El Santo Cadáver comienza a extraerse de Lucy. Mientras tanto, Valentine comienza su parlamento, exponiendo cómo Gyro Zeppeli estará allí con Johnny, que está motivado por su patriotismo y quiere asegurar el Cadáver de personas indignas, contrarrestando cada uno de los argumentos de Johnny. Al final, el jinete está casi convencido. </p>
            <p>Sin embargo, Johnny arroja la pistola que Valentine vació antes, desafiándolo a que la tome como prueba. Los planes de Valentine están frustrados. Se produce un tiroteo final entre el jinete y el presidente, que Johnny gana. Johnny presencia una aparición final del fantasma de Gyro y dice su despedida. Luego le pone una última bala de uña en la cabeza de Valentine, matándolo. El cuerpo de Valentine es arrastrado por el Spin, y todo rastro de él desaparece. </p>
        </article>
    </section>
    <section>
        <h2> High Voltage:</h2>
        <article>
            <p>Después de sanar a todos, Johnny se da cuenta de que el cadáver ha sido robado por un último enemigo desconocido, identificado como al menos un concursante de Steel Ball Run. Johnny persigue a su enemigo final. </p>
            <p>Johnny alcanza al misterioso culpable, y se enfrenta a <a href="../views/personajes.html#aw" class="rr">Diego Brando</a>, vivo y coleando, ahora empuñando un Stand que detiene el tiempo llamado THE WORLD. Valentine ha convencido a una versión alternativa para cumplir su objetivo en su lugar. </p>
            <img src="../img/diow.webp" alt="dio vs Johnny">
            <p> Después de un breve intercambio de golpes, ambos se dan cuenta de lo que el otro es capaz de hacer, y apuntan a diseñar un plan que contrarreste el poder del otro. Cuando comienza la etapa final, Johnny se encuentra con su padre George y se reconcilian silenciosamente.</p>
            <p>Otro disparo de las uñas Super Spin arroja a Diego, quien ve que la parada de tiempo no afecta por completo a Tusk. La ventaja cambia entre Diego y Johnny hasta que Johnny se une al resto de los corredores en el puente de Brooklyn para un último ataque. Johnny dispara su clavo Super Spin mientras Diego detiene el tiempo </p>
        </article>
    </section>
    <section>
        <h2>El mundo de las barras y estrellas: </h2>
        <article>
            <p>En el tiempo detenido, Diego se posiciona a sí mismo y a THE WORLD para atacar. Aunque la pierna de THE WORLD es golpeada por la rotación, THE WORLD la corta y se la tira a Johnny, quien está imbuido con el Spin. Incapacitado, Johnny es impotente cuando Diego gana el Steel Ball Run y ​​se dirige a la caja fuerte en la que se colocará el Cuerpo Santo </p>
            <p>En el refugio Diego se encuentra con Lucy, quien mata a Diego fundiendo su cabeza con la cabeza del original. </p>
            <p>Al mismo tiempo, Steven rescata a Johnny llevándolo a su caballo, para que Johnny pueda pegarse un tiro. </p>
            <p>Después de una breve narración de los efectos secundarios de la carrera, Johnny se embarca en un bote para devolver el cadáver de Gyro a su familia, en la que conoce a su futura esposa, Rina Higashikata. La última vez que vemos a Johnny es dar una última oración y sonríe mientras va a Europa a enterrar a su amigo. </p>
            <img src="../img/final....jpg" alt="panel final">
        </article>
    </section>
</main>
 <!-- aside -->
    <aside>
        <p>Para más información, puedes leer el manga de JoJo's Bizarre Adventure: <a href="https://tmomanga.com/manga/jojos-bizarre-adventure-parte-7-steel-ball-run">Steel Ball Run.</a></p>
    </aside> 
    <!-- footer -->
    <footer>
        <p>&copy; mendez elias 2024 . Todos los derechos reservados.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
