<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes de Steel Ball Run</title>
    <link rel="stylesheet" href="../css/style2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <h1>Personajes de Steel Ball Run</h1>
        <h6>ACLARACION:Algunos personajes del manga no estaran presentes aqui</h6> 
    </header>
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="../views/index.html">principal</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="../views/personajes.html">personajes</a>
              <a class="nav-link" href="../views/historia.html">Historia</a>
              <a class="nav-link" href="../views/registro.html">registrate</a>
            </div>
          </div>
        </div>
      </nav>  
      <!-- personajes -->
    <main>
        <section>
            <article class="character">
                <h2 id="jojo">Johnny Joestar</h2>
                <p><strong>Descripción:</strong> Protagonista de SBR, un ex-jinete de carreras y parapléjico que busca redimirse y recuperar la movilidad de sus piernas.</p>
                <p><strong>Historia:</strong> Johnny Joestar, nacido como Jonathan Joestar, era un jinete de caballos exitoso y famoso en Kentucky. Su vida cambió drásticamente tras un accidente que lo dejó paralizado de la cintura para abajo, sumiéndolo en una profunda depresión y amargura. La relación con su familia, especialmente con su padre, se deterioró debido a las altas expectativas que no pudo cumplir después del accidente.

                    La vida de Johnny cambió cuando conoció a Gyro Zeppeli durante la carrera Steel Ball Run, una competencia a campo traviesa con una gran recompensa. Johnny vio en las técnicas de rotación de Gyro una esperanza para curar su parálisis. Decidido a recuperar su movilidad, Johnny se une a la carrera. A medida que avanza, desarrolla una amistad profunda con Gyro y descubre un nuevo sentido de propósito y determinación. Johnny busca las partes del cadáver sagrado, creyendo que pueden curarlo y con el objetivo de encontrar redención y comprender su propio valor.</p>
                    <img src="../img/jonny.jpg" alt="jonny" class="ff">
                    <p><strong>Stand:</strong>Tusk (Act 1-4)</p>
                        <p><strong>act 1:</strong> En su forma inicial, Tusk permite a Johnny disparar sus uñas como si fueran balas giratorias. Estas uñas se regeneran después de un tiempo, permitiéndole un ataque constante.</p>
                       <p><strong>uso:</strong> Las uñas giratorias son utilizadas principalmente como un ataque a distancia. Tienen una fuerza perforante significativa, permitiendo a Johnny atacar a sus enemigos desde lejos y causarles daño. </p>
                       <img src="../img/tusk 1.jpg" alt="tusk 1" class="tusk">
                       <p><strong>act 2:</strong>Esta forma mejora la capacidad de las uñas giratorias, permitiendo que giren durante más tiempo y con mayor potencia. Johnny puede manipular la trayectoria de las uñas con mayor precisión.
                       </p>
                       <p><strong>uso:</strong>Con Act 2, Johnny gana más control y fuerza en sus ataques. Las uñas no solo perforan con mayor eficacia, sino que también pueden seguir trayectorias curvas para alcanzar objetivos más difíciles.</p>
                       <img src="../img/tusk 2.jpg" alt="tusk 2" class="ff">
                       <p><strong>act 3:</strong>Tusk Act 3 introduce la capacidad de crear agujeros dimensionales al disparar sus uñas. Estos agujeros pueden transportar objetos a través del espacio, permitiendo a Johnny moverse de manera única.</p>
                       <p><strong>uso:</strong>Esta habilidad ofrece ventajas estratégicas, ya que Johnny puede usar los agujeros dimensionales tanto para atacar como para evadir. Le proporciona una movilidad inusual y la capacidad de sorprender a sus enemigos.</p>
                       <img src="../img/tusk 3.jpg" alt="tusk 3" class="ff">
                       <p><strong>act 4:</strong> La forma más avanzada de Tusk, conocida como Act 4, utiliza la "Rotación Dorada". Esta técnica permite a Johnny manipular la gravedad y el espacio a través de una rotación perfecta e infinita. La Rotación Dorada es una técnica casi imparable que puede atravesar dimensiones y causar un daño devastador.</p>
                       <p><strong>uso:</strong>Act 4 convierte a Johnny en un combatiente extremadamente poderoso. Puede enfrentarse a enemigos formidables como Funny Valentine, usando la Rotación Dorada para moverse libremente y manipular su entorno. Esta técnica no solo es destructiva sino también increíblemente versátil, permitiendo a Johnny superar casi cualquier obstáculo.</p>
                       <img src="../img/act4.jpg" alt="act4" class="ff">
                       
            </article>
            <article class="character">
                <h2 id="gy">Gyro Zeppeli</h2>
                <p><strong>Descripción:</strong> Un talentoso jinete y maestro de la técnica de la Rotación, participa en la carrera para salvar a un niño condenado a muerte.</p>
                <p><strong>Historia:</strong>cuyo nombre real es Julius Caesar Zeppeli, es un ex verdugo de Nápoles que participa en la carrera Steel Ball Run para salvar a un niño injustamente condenado a muerte. Proveniente de una familia de verdugos, Gyro busca romper con la tradición familiar y usar sus habilidades para el bien. Su motivación principal es ganar la carrera y así obtener la amnistía para el niño condenado. </p>
                <img src="../img/gyro3.jpg" alt="Gyro" class="tusk">
                <p><strong>Stand:</strong> Ball Breaker</p>
                <strong>Habilidades de Ball Breaker:</strong>
                <p><strong>Rotación:</strong> Gyro utiliza dos bolas de acero que gira con precisión increíble. La "Rotación" se basa en el concepto de la energía giratoria perfecta, que puede tener efectos devastadores sobre sus oponentes.</p>
                <p><strong>efectos de la rotacion:</strong>Al aplicar la Rotación, Gyro puede afectar tanto el cuerpo como el tiempo de sus enemigos. Los ataques con las bolas de acero pueden causar envejecimiento acelerado y daño interno significativo.
                </p>
                <p><strong>Manifestación del Stand:</strong> Breaker se manifiesta cuando Gyro perfecciona la técnica de la Rotación, otorgándole un poder devastador. Este Stand es la encarnación del poder giratorio que Gyro ha dominado.</p>
                <img src="../img/ball.jpg" alt="Ball Breaker" class="tusk">
            </article>
            <article class="character">
                <h2 id="lu">Lucy Steel</h2>
                <p><strong>Descripción:</strong> Joven esposa de Stephen Steel, se involucra en la carrera para descubrir la verdad detrás de la misma.</p>
                <p><strong>Historia:</strong>Lucy se casó con Steven Steel, un hombre mucho mayor que ella, en un matrimonio arreglado que inicialmente parecía ser por conveniencia. Sin embargo, a medida que la carrera avanza, se revela que Lucy y Steven comparten un profundo amor y respeto mutuo. Lucy, a pesar de no ser una corredora oficial, juega un papel crucial al infiltrarse en las altas esferas del poder, especialmente al acercarse al presidente Funny Valentine y descubrir sus verdaderas intenciones.</p>
                <p><strong>Stand:</strong>ninguno</p>
                <img src="../img/lucy.jpg" alt="lucy steel" class="tusk">
            </article>
            <article class="character">
                <h2 id="di">Diego Brando (Dio)</h2>
                <p><strong>Descripción:</strong> Ambicioso jinete británico, una versión alternativa del conocido villano Dio Brando.</p>
               <p><strong>Historia:</strong>Diego tuvo una infancia difícil. Su madre trabajaba duro para mantenerlo, pero murió cuando él era joven, dejándolo a cargo de un despiadado patrón. Con una fuerte determinación para escapar de la pobreza, Diego desarrolló un intenso deseo de superar a todos y hacerse un nombre en el mundo. Su talento excepcional como jinete lo llevó a los Estados Unidos, donde se unió a la carrera Steel Ball Run. </p>
               <img src="../img/diego.jpg" alt="diego" class="ff">
                <p><strong>Stand:</strong>Scary Monsters</p>
                <strong>habilidades de scary Monsters:</strong>
                <p><strong>Transformación en Dinosaurio:</strong>Scary Monsters permite a Diego transformarse en un dinosaurio. En esta forma, obtiene fuerza, velocidad y agilidad mejoradas, junto con sentidos agudizados y garras afiladas.</p>
                <p><strong>Control de Dinosaurios:</strong>Diego puede convertir a otros seres vivos en dinosaurios bajo su control, manipulándolos para que sigan sus órdenes y ataquen a sus enemigos.</p>
                <p><strong>Regeneración y Durabilidad:</strong>En su forma de dinosaurio, Diego posee una capacidad regenerativa avanzada, lo que le permite recuperarse rápidamente de heridas y daños.</p> 
                <img src="../img/dino.jpg" alt="scary Monsters" class="ff">
            </article>
            <article class="character">
                <h2 id="aw">Diego (AW)</h2>
                <p><strong>Descripción:</strong> una versión alternativa de Diego Brando en "Steel Ball Run". Este Diego proviene de un universo paralelo y es traído al mundo principal por Funny Valentine utilizando su Stand, Dirty Deeds Done Dirt Cheap (D4C).</p>
                <p><strong>Historia:</strong>En su universo original, Diego Brando siguió un camino similar al de su contraparte en el universo principal, con una vida marcada por la pobreza, la ambición y la búsqueda de poder. Sin embargo, debido a las diferencias en su entorno y las circunstancias específicas de su universo, este Diego desarrolló habilidades y motivaciones únicas. </p>
                <img src="../img/diego 2.jpg" alt="diego" class="ff">
                 <p><strong>Stand:</strong>The World </p>
                 <strong>Habilidades de The World:</strong>
                 <p><strong>Detención del Tiempo:</strong>la habilidad principal de The World es detener el tiempo. Durante el tiempo detenido, Diego puede moverse y actuar libremente mientras todo lo demás permanece inmóvil. Esta habilidad le da una ventaja estratégica abrumadora en combate.</p>
                    <img src="../img/stand.jpg" alt="the World" class="ff">
                    </article>
            <article class="character">
                <h2 id="mon">Mountain Tim</h2>
                <p><strong>Descripción:</strong> Sheriff de Texas y uno de los participantes de la carrera, conocido por su habilidad única con la cuerda.</p>
                <p><strong>Historia:</strong> Mountain Tim es originario del oeste de los Estados Unidos y tiene una reputación como un vaquero hábil y respetado. Antes de unirse a la carrera, trabajó como cazador de recompensas y fue conocido por su destreza con la cuerda. A lo largo de la carrera, Tim demuestra ser un personaje honorable y valiente, dispuesto a ayudar a otros corredores en apuros y enfrentarse a los antagonistas que amenazan la integridad de la competencia. </p>
                <img src="../img/Mountain Tim.jpg" alt="Mountain tim" class="ff">
                <p><strong>stand:</strong>Oh! Lonesome Me</p>
                <strong>habilidades:</strong>
                <p><strong>Desmontaje Corporal:</strong>La habilidad principal de Oh! Lonesome Me es permitir a Mountain Tim desmontar su propio cuerpo en segmentos conectados por una cuerda. Puede separar partes de su cuerpo y moverse a través de espacios pequeños o difíciles de alcanzar.</p>
                <p><strong>Manipulación de Cuerdas:</strong> Tim puede controlar cuerdas con gran precisión y habilidad, utilizándolas tanto para el combate como para la movilidad. Las cuerdas pueden ser usadas para atrapar o inmovilizar a sus enemigos, y también para maniobras evasivas.</p>
                <p><strong>Reconstrucción Rápida:</strong>Tim puede reconstruir rápidamente su cuerpo después de desmontarlo, lo que le permite recuperarse de ataques y moverse de manera ágil en el campo de batalla.</p>
                <img src="../img/Mountain Tim srand.jpg" alt="stand de Mountain tim" class="ff">
            </article>
            <article class="character">
                <h2 id="sand">Sandman</h2>
                <p><strong>Descripción:</strong> Nativo americano con habilidades físicas excepcionales, participa en la carrera para ayudar a su tribu.</p>
                <p><strong>Historia:</strong>Sandman proviene de una tribu nativa americana y se une a la carrera Steel Ball Run con la esperanza de ganar el premio en efectivo para salvar a su pueblo. Su tribu enfrenta la expropiación de sus tierras por parte del gobierno estadounidense, y Sandman ve la carrera como su última oportunidad para obtener los fondos necesarios para comprar de nuevo su territorio y proteger a su gente. </p> 
                <img src="../img/sad.jpg" alt="sandman" class="ff">
                 <p><strong>Stand:</strong> In a Silent Way</p>
                 <strong>Habilidades de In a Silent Way:</strong>
                 <p><strong>Manipulación de Sonido:</strong>in a Silent Way puede almacenar y liberar sonidos en objetos o en el aire. Estos sonidos pueden ser tan simples como un latido o tan complejos como una explosión.</p>
                 <p><strong>Materialización del Sonido:</strong>Sandman puede convertir sonidos en formas físicas. Por ejemplo, puede almacenar el sonido de un grito en un objeto y, al activarlo, ese objeto puede liberar una onda de choque.</p>
                 <p><strong>Versatilidad en el Uso del Sonido:</strong>Las habilidades de In a Silent Way son extremadamente versátiles, permitiendo a Sandman utilizar el sonido tanto para el combate como para la evasión. Puede crear distracciones, ataques sorpresa y defensas a partir de sonidos almacenados.</p>
                 <img src="../img/stand 2.jpg" alt="In a Silent Way" class="ff">
            </article>
            <article class="character">
                <h2 id="fun">Funny Valentine</h2>
                <p><strong>Descripción:</strong> Presidente de los Estados Unidos, principal antagonista de la serie con ambiciones de poder absoluto.</p>
                <p><strong>Historia:</strong>Funny Valentine es el presidente de los Estados Unidos en la línea de tiempo de "Steel Ball Run". Su presidencia es marcada por una ambición desmedida y un deseo de asegurar el poder absoluto para proteger y elevar a su país, y a él mismo, a un estatus casi divino. Para alcanzar sus objetivos, Valentine está dispuesto a tomar medidas extremas, incluso si eso significa violar la ley y los principios éticos. </p>
                <img src="../img/valentine.jpg" alt="Funny valentine" class="ff">
                <p><strong>Stand:</strong> Dirty Deeds Done Dirt Cheap (D4C)</p>
                <strong>Habilidades de D4C:</strong>
                <p><strong>Viaje entre Universos:</strong>D4C le permite a Valentine moverse entre diferentes universos paralelos. Esta habilidad le da la capacidad de alterar la realidad y explorar distintas versiones del mundo para su beneficio.</p>
                <p><strong>intercambio de Objetos:</strong>Valentine puede intercambiar objetos y personas entre universos paralelos. Esto le permite manipular eventos y obtener ventajas en situaciones de combate al alterar el entorno a su favor.</p>
                <p><strong>Invulnerabilidad Relativa:</strong>En su universo original, Valentine es extremadamente difícil de dañar debido a las habilidades de su Stand. Puede evitar ataques y manipular la realidad de una manera que lo hace casi invulnerable.</p>
                <img src="../img/d4c.jpg" alt="d4c" class="ff">
            </article>
                <section>
                    <article class="character">
                        <h2 id="loco">pocoloco</h2>
                        <p><strong>Descripción:</strong> un corredor conocido por su actitud relajada y su increible suerte.</p>
                        <p><strong>Historia:</strong>Pocoloco es un hombre de origen humilde que vive en Nueva Orleans. Antes de unirse a la carrera, lleva una vida sencilla y sin muchas expectativas. Sin embargo, un día, después de consultar a una adivina, se le dice que está destinado a tener una increíble racha de buena suerte en los próximos dos meses. Inspirado por esta predicción, Pocoloco decide participar en la carrera Steel Ball Run, confiando en que su suerte lo llevará a la victoria y a la riqueza. </p>
                        <img src="../img/loco.jpg" alt="pocoloco" class="ff">
                        <p><strong>Stand:</strong> hey ya!</p>
                        <strong>Habilidades de Hey Ya!:</strong>
                        <p><strong>ncreíble Buena Suerte:</strong>La principal habilidad de Hey Ya! es otorgar a Pocoloco una suerte fenomenal. Esta suerte se manifiesta en forma de eventos afortunados que lo ayudan a superar obstáculos y desafíos durante la carrera. </p>
                        <p><strong>Intuición y Consejos:</strong>Hey Ya! puede hablar con Pocoloco y darle consejos e indicaciones sobre qué hacer a continuación. Aunque sus consejos pueden parecer triviales o confusos, casi siempre resultan ser beneficiosos. </p>
                        <img src="../img/hey.jpg" alt="hey ya!" class="ff">
                    </article>
                    <section>
                        <article class="character">
                            <h2 id="an">familia boom boom</h2>
                            <p><strong>Descripción:</strong>notorios por su comportamiento criminal y su uso de habilidades Stand únicas con la intención de robar y sabotear a otros corredores.</p>
                            <p><strong>Historia:</strong>La Familia Boom Boom está compuesta por el patriarca Benjamin Boom Boom y sus dos hijos, Andre Boom Boom y L.A. Boom Boom. Son una familia de forajidos y criminales que han vivido al margen de la ley, dedicándose a actividades delictivas para sobrevivir y prosperar. </p>
                            <strong>la familia esta conformada por:</strong>
                            <p><strong>Benjamin boom boom</strong> El patriarca de la familia, conocido por su comportamiento violento y despiadado.</p>
                            <img src="../img/boom.jpg" alt="benjamin" class="ff">
                            <p><strong>andre boom boom</strong> El hijo mayor, que sigue los pasos de su padre y posee un carácter igualmente brutal.</p>
                            <img src="../img/boom 2.jpg" alt="andre" class="ff">
                            <p><strong>L.A. Boom Boom:</strong>El hijo menor, que también participa activamente en las actividades criminales de la familia.</p>
                            <img src="../img/boom 3.jpg" alt="L.A." class="ff">
                            <p><strong>stand:</strong>Tomb of the Boom (1-3):</p>
                           <p><strong>omb of the Boom 1 (Benjamin Boom Boom):</strong> Este Stand le otorga a Benjamin la capacidad de manipular clavos metálicos que emergen de su cuerpo. Puede lanzar estos clavos a alta velocidad, usándolos como proyectiles para atacar a sus enemigos. Los clavos también tienen propiedades magnéticas, lo que permite a Benjamin manipular objetos metálicos a su alrededor.</p>
                           <p><strong> Tomb of the Boom 2 (Andre Boom Boom):</strong>El Stand de Andre le permite generar y controlar clavos metálicos que pueden emerger de su cuerpo o del suelo. Al igual que el Stand de su padre, estos clavos tienen propiedades magnéticas y pueden ser usados tanto para ataques a distancia como para manipulación de objetos metálicos. </p>
                           <p><strong>Tomb of the Boom 3 (L.A. Boom Boom): </strong>El Stand de L.A. es similar a los de su padre y su hermano, permitiéndole generar clavos metálicos. Sin embargo, su Stand es más débil en comparación con los otros dos, pero sigue siendo peligroso debido a la versatilidad y la velocidad con la que puede usar los clavos en combate. </p>
                           <img src="../img/stand 3.png" alt="Tomb of the Boom" class="ff">
                        </article>
                    </section>
                    <section>
                        <article class="character">
                            <h2 id="oy">Oyecomova </h2>
                            <p><strong>Descripción:</strong>corredor que utiliza su Stand para intentar sabotear a otros competidores y asegurar su victoria en la carrera. </p>
                            <p><strong>Historia:</strong>Oyecomova es un terrorista serbio que se une a la carrera Steel Ball Run con intenciones malignas. Su historia y motivaciones están marcadas por una vida de violencia y caos. Es conocido por sus habilidades destructivas y su disposición a utilizar la violencia para lograr sus objetivos. A lo largo de la carrera, Oyecomova se enfrenta a varios competidores y utiliza su Stand para crear explosiones y caos en el camino.</p>
                            <img src="../img/Oyecomova.webp" alt="Oyecomova" class="ff">
                            <p><strong>stand:</strong>Boku no Rhythm wo Kiitekure (Listen to My Rhythm) </p>
                            <strong>Habilidades de Boku no Rhythm wo Kiitekure (Listen to My Rhythm):</strong>
                            <p><strong> Creación de Explosivos: </strong>La habilidad principal de este Stand es crear explosivos a partir de cualquier superficie que Oyecomova toque. Puede colocar estos explosivos estratégicamente para atacar a sus enemigos o crear obstáculos en el camino. </p>
                            <p><strong>Detonación Remota: </strong>Oyecomova puede detonar los explosivos a distancia, lo que le permite atacar a sus oponentes desde una posición segura. Esto le da una ventaja táctica en combate. </p> 
                            <img src="../img/stand 4.jpg" alt="Boku no Rhythm wo Kiitekure (Listen to My Rhythm)" class="ff">
                        </article>
                    </section>
                    <section>
                        <article class="character">
                            <h2 id="je">jesucristo</h2>
                            <p><strong>Descripción:</strong>Aunque no es un personaje activo en la trama, su figura y las reliquias asociadas con él tienen una gran importancia para la historia y los personajes involucrados en la búsqueda de las partes del cadáver sagrado. </p>
                            <p><strong>Historia:</strong>En el universo de "Steel Ball Run," Jesucristo es representado como un ser divino cuyas reliquias poseen poderes sobrenaturales. La historia establece que después de su crucifixión, el cadáver de Jesucristo fue desmembrado y sus partes quedaron dispersas por diferentes lugares. Estas partes del cadáver se convierten en el centro de la trama, ya que poseen habilidades místicas que pueden otorgar grandes poderes a quienes las reúnen. </p>
                            <img src="../img/jesus.jpg" alt="jesucristo" class="ff">
                            <strong>Partes del Cadáver Sagrado:</strong>
                            <ul>
                                <li>la cabeza</li>
                                <li>los ojos</li>
                                <li>el torso</li>
                                <li>los brazos</li>
                                <li>las piernas</li>
                            </ul>
                            <p> Cada parte del cadáver tiene propiedades místicas que pueden afectar la realidad y otorgar poderes extraordinarios a quienes las poseen. El objetivo de muchos personajes en la carrera Steel Ball Run, incluido el presidente Funny Valentine, es reunir todas las partes del cadáver para aprovechar sus poderes divinos.</p>  
                            <strong>Las partes del cadáver sagrado otorgan varias habilidades a quienes las poseen:</strong>
                            <p><strong>Curación y Regeneración: </strong> Las partes del cadáver tienen propiedades curativas que pueden sanar heridas y enfermedades.</p>
                            <p><strong>poder divino:</strong> Poseer las partes del cadáver puede otorgar habilidades místicas y una conexión con el poder divino.</p>
                            <p><strong>influencia sobre el destino:</strong>Las reliquias pueden alterar el destino y la suerte de quienes las poseen, afectando los eventos a su favor. </p>
                            <img src="../img/pertes del cuerpo.webp" alt="cuerpo de jesus" class="ff">
                        </article>
                    </section>
                    <section>
                        <article class="character">
                            <h2 id="pe">hot pants</h2>
                            <p><strong>Descripción:</strong> una agente encuvierta del vaticano.</p>
                            <p><strong>Historia:</strong> Hot Pants es una mujer que participa en la carrera Steel Ball Run con la identidad de un hombre para ocultar su verdadero género y facilitar su misión. Su verdadero nombre no se revela en la serie. A lo largo de la historia, se revela que Hot Pants tiene un pasado trágico: su hermano menor murió trágicamente, y ella se culpa por no haberlo protegido. Este evento la motiva a unirse a la carrera Steel Ball Run para recolectar las partes del cadáver sagrado con la esperanza de obtener el poder divino y la redención. </p>
                            <img src="../img/pants.jpg" alt="hot pants" class="ff">
                            <p><strong>stand:</strong>Cream Starter </p>
                            <strong>Habilidades deCream Starter: </strong>
                            <p><strong>transformacion de carne:</strong> Cream Starter le permite a Hot Pants transformar su propia carne y la de otros en una sustancia parecida a una espuma o aerosol. Esta espuma puede ser usada para curar heridas, crear prótesis temporales, o disfrazarse cambiando la apariencia física. </p>
                            <p><strong>curacion:</strong> Hot Pants puede usar Cream Starter para curar heridas, tanto las suyas como las de otras personas. La capacidad de manipular la carne le permite cerrar cortes y regenerar tejido dañado. </p>
                            <p><strong>Disfraz y Engaño:</strong> Al transformar la carne en espuma y redistribuirla, Hot Pants puede cambiar su apariencia física, lo que le permite adoptar diferentes identidades y engañar a sus enemigos.</p>
                            <p><strong>combate y defensa:</strong> La habilidad de manipular la carne también puede ser utilizada ofensivamente, por ejemplo, creando picos afilados o proyectiles de carne, y defensivamente, endureciendo la espuma para formar barreras protectoras. </p>
                            <img src="../img/stand 5.webp" alt="cream" class="ff">
                        </article>
                    </section>
                    <section>
                        <article class="character">
                            <h2 id="rin">Ringo Roadagain</h2>
                            <p><strong>Descripción:</strong> un pistolero altamente habil con un fuerte codigo de hnor y de filosofia.</p>
                            <p><strong>Historia:</strong>Ringo Roadagain es un hombre que ha sobrevivido a una infancia traumática, incluyendo una enfermedad debilitante y una familia abusiva. Su vida cambia drásticamente cuando, después de un enfrentamiento con un ladrón, descubre su verdadera fuerza y capacidad para superar sus limitaciones. Este evento lo lleva a desarrollar una filosofía de vida basada en la auto-mejora constante y el renacimiento personal, lo que él llama "retoño" (o "rewind to the first" en inglés). </p>
                            <img src="../img/ringo.jpg" alt="ringo" class="ff">
                            <p><strong>stand:</strong> mandom</p>
                            <strong>Habilidades de mandom</strong>
                            <p><strong>retroceso temporal</strong>La habilidad principal de Mandom es retroceder el tiempo exactamente seis segundos. Esta habilidad le permite a Ringo rehacer sus acciones y corregir errores cometidos en ese breve período de tiempo. </p>
                            <img src="../img/mandom.jpg" alt="mandom" class="ff">
                        </article>
                    </section>
                    <section>
                        <article class="character">
                            <h2 id="bl">Blackmore</h2>
                            <p><strong>Descripción:</strong>Es un agente leal al presidente Funny Valentine y uno de los antagonistas de la serie. </p>
                            <p><strong>Historia:</strong>Blackmore es un hombre misterioso y altamente competente que trabaja como agente del presidente Funny Valentine. Es un hombre de principios que cree firmemente en el destino y la misión encomendada por el presidente. Su dedicación y lealtad hacia Valentine son inquebrantables, lo que lo convierte en un adversario formidable para cualquiera que se interponga en su camino. </p>
                            <p><strong>stand:</strong> Catch the Rainbow</p>
                            <strong>Habilidades de Catch the Rainbow:</strong>
                            <P><strong>manipulacion de la lluvia:</strong>Catch the Rainbow le permite a Blackmore controlar y manipular las gotas de lluvia. Puede detenerlas en el aire, utilizarlas como plataformas sólidas para moverse y crear barreras defensivas. </P>
                            <p><strong>desplazamiento sobre la lluvia:</strong>Blackmore puede caminar sobre las gotas de lluvia, permitiéndole moverse en cualquier dirección y alcanzar lugares inaccesibles. Esta habilidad también le da una gran movilidad en combate, haciéndolo difícil de atrapar o predecir. </p>
                            <p><strong>ataques basados en la lluvia:</strong>Puede usar las gotas de lluvia como proyectiles afilados, lanzándolas a alta velocidad para herir o incapacitar a sus enemigos. Además, puede condensar la lluvia en formas más densas y peligrosas. </p>
                            <p><strong>invisibilidad parcial:</strong> Al manipular la lluvia alrededor de su cuerpo, Blackmore puede volverse parcialmente invisible, lo que le permite emboscar a sus enemigos y evadir ataques con mayor facilidad.</p>
                            <img src="../img/lluvia.jpg" alt="catch the Rainbow" class="ff">
                        </article>
                    </section>
                    <section>
                        <article class="character">
                            <h2 id="pi">wekapipo</h2>
                            <p><strong>Descripción:</strong>antiguo guardaespaldas napolitano que tiene un papel significativo en la narrativa debido a sus habilidades y su compleja historia.</p>
                            <p><strong>Historia:</strong>Wekapipo es originario de Nápoles, Italia. Era un talentoso guardaespaldas que servía a la nobleza italiana. Sin embargo, su vida da un giro drástico cuando su hermana es golpeada brutalmente por su esposo, un noble italiano, y queda ciega. En un intento desesperado por proteger a su hermana y hacer justicia, Wekapipo ataca al noble. Este acto de violencia lo lleva a ser exiliado y marcado como un traidor, perdiendo todo lo que tenía en Italia. </p>
                            <img src="../img/pipo.jpg" alt="Wekapipo" class="ff">
                            <p><strong>habilidad:</strong>Wrecking Ball (no es un stand)</p>
                            <strong>Habilidades de Wrecking Ball: </strong>
                            <p><strong>roacion esferica:</strong>Wekapipo utiliza esferas de acero que giran a alta velocidad. Estas esferas pueden ser lanzadas con precisión para atacar a sus enemigos y generar efectos secundarios. </p>
                            <p><strong>Desorientación y Desbalance:</strong>Las esferas de Wekapipo pueden causar una desorientación extrema en los oponentes. Al golpear a su objetivo, las esferas inducen una rotación en el cuerpo de la víctima, afectando su equilibrio y coordinación. </p>
                            <img src="../img/ball.png" alt="Wrecking Ball" class="ff">
                        </article>
                    </section>
                    <section>
                        <article class="character">
                            <h2 id="ma">Magent Magent </h2>
                            <p><strong>Descripción:</strong>un usuario de stand conocido por su lealtad hacia funny valentine</p>
                            <p><strong>Historia:</strong>Magent Magent es un hombre originario de Australia que se une a la carrera Steel Ball Run bajo las órdenes del presidente Funny Valentine. Es un personaje conocido por su personalidad extravagante y su dedicación absoluta a su misión. A lo largo de la historia, se revela que Magent Magent ha tenido encuentros previos con otros personajes en el pasado, lo que moldea su determinación y lealtad hacia Valentine.</p>
                            <img src="../img/Magent Magent.png" alt="magent magent" class="ff">
                            <p><strong>stand:</strong> 20th Century Boy</p>
                            <strong>Habilidades de 20th Century Boy </strong>
                            <p><strong>Invulnerabilidad Absoluta:</strong>Cuando Magent Magent activa su Stand, se coloca en una posición defensiva similar a la de cuclillas y abraza sus rodillas. En esta posición, 20th Century Boy hace a Magent Magent completamente invulnerable a cualquier daño o efecto externo. Esta invulnerabilidad es absoluta y protege al usuario de cualquier tipo de amenaza, independientemente de su naturaleza. 
                                La habilidad se activa automáticamente cuando Magent Magent siente que su vida está en peligro inminente. Durante este tiempo, no puede moverse ni cambiar de posición hasta que el peligro haya pasado por completo. </p>
                                <img src="../img/stand 6.jpg" alt="20th Century Boy" class="ff">
                        </article>
                    </section>
                    <section>
                        <article class="character">
                          <h2 id="a">Axl RO</h2>
                          <p><strong>Descripción:</strong> hombre decidido y despiadado, cuya misión es detener a Johnny Joestar y Gyro Zeppeli en su búsqueda de las partes del cadáver.</p>
                          <p><strong>historia:</strong>es un agente leal del presidente Funny Valentine, encargado de proteger las partes del cadáver sagrado y eliminar cualquier amenaza que se interponga en el camino de Valentine</p>
                          <img src="../img/Axl RO.jpg" alt="Axl ro" class="ff">
                          <p><strong>stand:</strong>civil war</p>
                          <strong>habilidades de civil war:</strong>
                          <p><strong>Manifestación de la culpa:</strong>Civil War puede hacer que los objetos, personas y recuerdos relacionados con la culpa y el arrepentimiento de una persona se manifiesten físicamente. Estas manifestaciones pueden atacar al objetivo, y si son destruidas, se multiplican y continúan persiguiendo a la persona.</p>
                          <img src="../img/war.jpg" alt="civil war" class="ff">
                        </article>
                    </section>
        </section>
    </main>
    <!-- lista de personajes -->
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Personaje</th>
            <th scope="col">Stand</th>
            <th scope="col">Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Johnny Joestar </td>
            <td>Tusk</td>
            <td>Deuteragonista (pasa a protagonista)</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Gyro Zeppeli</td>
            <td>Ball Breaker</td>
            <td>Protagonista (pasa a deuteragonista) </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Lucy Steel</td>
            <td>Aliado</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Diego Brando  </td>
            <td>Scary Monsters</td>
            <td>Antagonista</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Diego (AW) </td>
            <td>The World</td>
            <td>Antagonista</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td> Mountain Tim</td>
            <td>Oh! Lonesome Me </td>
            <td>Aliado</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Sandman</td>
            <td> In a Silent Way </td>
            <td>Antagonista</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Funny Valentine</td>
            <td>D4C</td>
            <td>Antagonista</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Pocoloco</td>
            <td>hey Ya</td>
            <td>Neutral</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>familia boom boom </td>
            <td>Tomb of the Boom </td>
            <td>Antagonista</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Oyecomova</td>
            <td>Boku no Rhythm wo Kiitekure </td>
            <td>Antagonista</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td colspan="2">jesucristo</td>
            <td>Neutral</td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>Hot pants</td>
            <td>Cream Starter</td>
            <td>Aliado (Antes Neutral)</td>
          </tr>
         <tr>
            <th scope="row">14</th>
            <td>Ringo Roadagain</td>
            <td>Mandom</td>
            <td>Antagonista</td>
         </tr>
         <th scope="row">15</th>
         <td>Blackmore</td>
         <td>Catch the Rainbow</td>
         <td>Antagonista</td>
      </tr>
      <th scope="row">16</th>
      <td colspan="2">wekapipo</td>
      <td>Antagonista</td>
   </tr>
   <th scope="row">17</th>
   <td>Magent Magent</td>
   <td>20th Century Boy</td>
   <td>Antagonista</td>
</tr>
<th scope="row">18</th>
<td>Axl RO</td>
<td>Civil war</td>
<td>Antagonista</td>
</tr>
        </tbody>
      </table>
    <!--footer -->
    <footer>
        <p>&copy; mendez elias 2024. Todos los derechos reservados.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
